.header {
    color: var(--primary-100);
    margin: 4rem;
    margin-right: 0;
    padding-right: 2rem;
    border-right: 4px solid var(--bg-100);
}

.header__logo {
    display: block;
    margin-bottom: 4rem;
}

.header__logout {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 24px;
    margin-top: 8rem;
    color: var(--accent-100);
    img {
        width: 2rem;

    }
}