@import url('./reset.css');
@import url('./header.css');
@import url('./nav.css');

@font-face {
    font-family: 'Coolvetica';
    src: url('../assets/fonts/Coolvetica.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-100:#FFFFFF;
    --primary-200:#e0e0e0;
    --primary-300:#9b9b9b;
    --accent-100:#7F7F7F;
    --bg-100:#2c2c2c;
    --bg-200:#161616;
    --bg-300:#000000;
}

body {
    background-color: var(--bg-300);
    display: flex;
    font-family: "Coolvetica";
}

a {
    text-decoration: none;
    color: inherit;
}