.nav__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.nav__item,
.nav__link {
    color: var(--accent-100);
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 2rem;
    transition: color 200ms ease;
}

.nav__item:hover {
    .nav__link {
        color: var(--primary-200);
    }
    .nav__icon {
        background-color: var(--primary-200);
    }

}

.nav__item--current {
    .nav__link {
        color: var(--primary-100);
    }
    .nav__icon {
        background-color: var(--primary-100);
        color: var(--primary-300);
    }
}

.nav__icon {
    transition-property: color, background-color;
    transition: 200ms ease;
    background-color: var(--bg-200);
    color: var(--accent-100);
    border-radius: .5rem;
    padding: 0.25rem;
    min-width: 2.5rem;
    min-height: 2.5rem;
    display: inline-block;
}