.button {
    border: none;
    background-color: transparent;
    padding: 0;
    border-radius: var(--border-radius);
    cursor: pointer;
    height: fit-content;
}

.button--login {
    margin-top: 1rem;
    color: var(--primary-100);
    font-size: 1.2rem;
    padding: 0.25rem 0;
    background-color: var(--accent-100);
    &:hover {
        background-color: var(--primary-300);
    }
}

.button--menu {
    display: none;
}

.button--hidden {
    display: none;
}

@media (max-width: 40rem) {
    .button--menu {
        display: block;
        background-color: var(--bg-200);
        color: var(--accent-100);
        .button__burger, 
        .button__close {
            color: var(--primary-300);
            padding: 0.25rem;
            min-width: 2.5rem;
            min-height: 2.5rem;
        }
    }
}