@import url('./reset.css');

@import url('./header.css');
@import url('./nav.css');
@import url('./login.css');
@import url('./button.css');
@import url('./bridge.css');
@import url('./content.css');


@font-face {
    font-family: 'Coolvetica';
    src: url('../assets/fonts/Coolvetica.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-100:#FFFFFF;
    --primary-200:#e0e0e0;
    --primary-300:#9b9b9b;
    --accent-100:#7F7F7F;
    --bg-100:#2c2c2c;
    --bg-200:#161616;
    --bg-300:#000000;

    --border-radius: 0.5rem;
}

body {
    background-color: var(--bg-300);
    display: flex;
    font-family: "Coolvetica";
    letter-spacing: 1px;
}

main {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
    list-style: none;
}

@media (max-width: 40rem) {
    body {
        flex-direction: column;
    }
}